<!DOCTYPE html>
<html>
<head>
    <title>Simple Angular Unit Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/mocha/mocha.css" />
    <link href="/simple-test.css" rel="stylesheet" />
</head>
<body>
    <div id="mocha"></div>

    <!-- JS test frameworks -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angularJS-Toaster/toaster.js"></script>
    <script src="/bower_components/mocha/mocha.js"></script>
    <script src="/bower_components/chai/chai.js"></script>
    <script src="/bower_components/sinon/index.js"></script>
    <script>
        // mocha setup
        mocha.setup('bdd');
        mocha.traceIgnores = ['mocha.js', 'chai.js', 'angular.js'];
        // chai setup
        window.expect = chai.expect;
        window.AssertionError = chai.AssertionError;
        chai.should();
    </script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="/bower_components/sinon-chai/lib/sinon-chai.js"></script>
    <script src="/simple-test.js"></script>

    <!-- build:script source -->
    <!-- /build -->

    <!-- build:script specs -->
    <!-- /build -->
    <!-- JS specifications (tests) -->

    <script>
        _T.run();
    </script>
</body>
</html>
